<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Company Selection System{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <!-- You can add your own stylesheet here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a>  </a>
        <a href="{{ url_for('index') }}">Home</a>
    </nav>
    <header>
        <h1>{% block header %}Welcome to the Company Selection System for Cris's Class{% endblock %}</h1>
    </header>
    <div class="flex-container">
        <main>
            {% block content %}
            <div id="app">
                <form action="{{ url_for('index') }}" method="post">
                    <button type="submit" id="Proceed">Make my selection</button>
                </form>
            </div>
            {% endblock %}
        </main>

        <footer>
            <div id="logo-container">
                <img id="university-logo" src="{{ url_for('static', filename='logoupf.png') }}" alt="UPF Logo">
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
